---
import { MainLayout } from 'mksite/layouts'

const pageTitle = 'Projects'

const layoutProps = {
  pageTitle
}
---

<script>
  import '@assets/pages/projects'
</script>

<MainLayout {...layoutProps}>
  <h1>{pageTitle}</h1>
</MainLayout>





